@import url(droparea.css);

/* Campos de formulário */
input,
textarea,
select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);
    padding: .75rem 1rem;
    font: var(--text);
    background-color: var(--surface-default);
}

/* Labels */
label {
    font: var(--text-sm);
    color: var(--text-secondary);
    display: block;
    margin-bottom: .25rem;
}

/* Foco */
input:focus,
textarea:focus,
select:focus,
input[type="date"]:focus {
    outline: .25rem solid var(--surface-secondary);
    border: .125rem solid var(--stroke-highlight);
    outline-offset: 1px;
}

/* Estilização para select com ícone */
select {
    background-image: url(../../assets/icons/arrow-down-01.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    background-size: 1rem;
}

/* Input de data com ícone */
input[type="date"] {
    position: relative;
    background-image: url(../../assets/icons/calendar-03.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    background-size: 1.25rem;
}

/* Esconde o ícone nativo do date */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* Layout flexbox para endereço */
.address .flex {
    gap: 1.25rem;
}

/* Wrapper de input desabilitado */
.input-wrapper:has(:disabled) {
    opacity: .5;
}

/* Input desabilitado */
input[disabled],
input:disabled {
    background-color: var(--surface-disabled);
    border: 1px solid var(--stroke-default);
    color: var(--text-primary);
}

/* Input inválido quando desabilitado */
input:disabled:invalid {
    border: 0.125rem solid var(--semantic-error);
}

/* Texto de ajuda após input desabilitado */
input:disabled + small {
    font: var(--text-sm);
    color: #78716c;
    display: inline-block;
    margin-top: .25rem;
}

/* Erro para campos obrigatórios */
input[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;
    font: var(--text-sm);
    color: var(--semantic-error);
    margin-top: .25rem; 
}

/* Esconde erro apenas quando campo está válido E preenchido */
input[type="email"]:valid:not(:placeholder-shown) + .error {
    display: none;
}

